:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  border-radius: 10px;
  box-shadow: rgba(226, 226, 226, 0.3) 0px 1px 2px 0px, rgba(223, 223, 223, 0.15) 0px 1px 3px 1px;
  width: 300px;
  position: relative;

}

.formContainer_heading {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.644);
  font-weight: 500;
  font-size: 20px;
}

.formContainer__form {

  width: 100%;
  height: 150px;
  margin: 20px 0px;
  padding: 0em 0.3em;
}

.form__formItem {
  display: block;
  padding: 0.5em 0.5em 0.5em 1em;
  font-size: 16px;
  background-color: white;
  width: 100%;
  margin: 0px auto;
  height: 40px;
  border: none;
  border-radius: 50px;
  color: blue;
  outline: none;
  font-weight: bolder;
}

.form__formItemButton {
  margin: 20px auto;
  display: block;
  width: 180px;
  padding: 0.4em;
  background-color: white;
  color: blue;
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 18px;
  transition: 0.4s;
}

.form__formItemButton:hover {
  cursor: pointer;
  background-color: whitesmoke
}

.resultContainer {
  width: 100%;
  height: 550px;
  background-image: url('https://gumlet.assettype.com/afaqs/2023-10/1793fdfb-f50a-4b33-8c65-333b8edde7dd/MS_Dhoni_as_JioMart_s_brand_ambassador.jpg?auto=format,compress&fmt=webp&format=webp&w=1200&h=900&dpr=1.0');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.resultContainer__textLabel {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: blue;
  background-color: white;
  padding: 0em 0.5em;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultContainer__poster {
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
}

.audioTrack {
  display: none;
}